/* 
    Document   : iot.css
    Created on : 5-feb-2013, 12.25.11
    Author     : dario Olivini <xflofoxx@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 968px;
}
.container-narrow > hr {
    margin: 30px 0;
}

#forkme{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
}
/* Main marketing message and sign up button */
.jumbotron {
    margin: 30px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
    margin: 30px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.logos{
    text-align: center;
}
.img-rounded{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

img.feature-logo{
    height: 60px;
    margin: 5px;
}
.features{
    list-style-type: none;
    text-align: center;
}
.features li{
    display: inline-block;
    float: left;
}
.features p{
    text-align: justify;
}

.iot-small-logo{
    width: 95px;
    height: 25px;
}


/* SIGNALS */

#alarms .status-true{
    background-color: lightcoral;
    border: 2px solid red;
}
#alarms .status-false{
    background-color: lightgreen;
    border: 2px solid green;
}
#alarms .alarm{
    font-size: 10px;
    text-align: center;
}

#alarms .alarm img{
    width: 64px;
    margin: 0px auto;
}

#iot-pcount .asignal-pcount{
    background-color: white;
}
#iot-pcount .asignal-pcount-content{
    position: relative;
    padding: 0px 10px;
    text-align: center;
    background-image: url('/app/img/signals/count-bkg.png');
    background-repeat: repeat-y;
    background-position: center center;
}
#console{
    z-index: 1;
    text-align: center;
    padding: 10px;
    background-image: url('/app/img/alpha200.png');
    background-repeat: repeat;
    border: 1px solid #ccc;                
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 2px 2px 5px #666666;
    -webkit-box-shadow: 2px 2px 5px #666666;
    box-shadow: 2px 2px 5px #666666;
}
#console p{
    margin:0px auto;
    font-weight: 10px;
    line-height: 14px;
}

#pulse {
    width: 64px;
}
#tab-slow ul,#tab-products ul,
#tab-pressures ul{
    list-style-type: none;                
}
#tab-slow li,
#tab-pressures li{
    position: relative;
    display: inline-block;
    border: 1px solid #CCC;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 2px 2px 5px #666666;
    -webkit-box-shadow: 2px 2px 5px #666;
    box-shadow: 2px 2px 5px #666;
    padding: 5px;
    font-size: 10px;
    width: 142px;
    margin: 5px;
    background-image: url('/app/img/chart_bkg.jpg');
    background-repeat: no-repeat;
    background-position-x: 10px;    
}
#tab-products li{
    position: relative;
    display: inline-block;
    border: 1px solid #CCC;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 2px 2px 5px #666666;
    -webkit-box-shadow: 2px 2px 5px #666;
    box-shadow: 2px 2px 5px #666;
    padding: 5px;
    font-size: 10px;
    width: 142px;
    margin: 5px;
}

#tab-slow .iot3dchart,
#tab-products .iot3dchart,
#tab-pressures .iot3dchart{
    width: auto;
    position: relative;
    left: 50px;
    height: 200px;               
}
#tab-slow li > div,
#tab-products li > div,
#tab-pressures li > div{    
    position: relative;
    height: 100%;
    line-height: 12px;
}  
#tab-slow .slow-signal,
#tab-pressures .pressure-signal{   
    margin-top: 16px;
}

.slow-signal{
    line-height: 10px;
    margin: 16px 0px 0px 0px;
}

#iot-alarms ul,
#iot-status ul{
    list-style-type: none;
    margin: 0px auto;
}
#iot-alarms li,
#iot-status li{
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    vertical-align: top;
    padding: 4px;
}
#iot-alarms img,
#iot-status img{
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 5px;
    left: 40px;
}

#iot-alarms .alarm-signal{
    position: relative;
    text-align: center;
    padding: 2px 5px;
    width: 100px;
    height: 90px;
    border: 1px solid #ccc;                
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 2px 2px 5px #666666;
    -webkit-box-shadow: 2px 2px 5px #666666;
    box-shadow: 2px 2px 5px #666666;
}
#iot-status .event-signal{
    position: relative;
    text-align: center;
    padding: 2px 5px;
    width: 100px;
    height: 70px;
    border: 1px solid #ccc;                
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 2px 2px 5px #666666;
    -webkit-box-shadow: 2px 2px 5px #666666;
    box-shadow: 2px 2px 5px #666666;
}

#tab-products li{
    margin: 5px;
}

#tab-products .count-signal{
    position: relative;
    text-align: center;
    height: 140px;
}
#tab-products .count-signal > h2{
    font-size: 18px;
    font-style: italic;
    color: #666;
}
#tab-products .count-signal > p{
    position: absolute;
    display: block;
    width: 100%;
}

