<div class="row-fluid"> 
    <div class="span12">
        <div class="well">
            <form class="form-horizontal" name="connectForm">
                <fieldset>
                    <legend>Insert server parameters</legend>
                    <div class="control-group" ng-class="{error: connectForm.host.$invalid}">
                        <label class="control-label">Server host:</label>
                        <div class="controls">
                            <input type="text" name="host" placeholder="t4sm.blogdns.com" ng-model="server.host" required>
                            <span ng-show="connectForm.host.$error.required" class="help-inline">Required</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: connectForm.port.$invalid}">
                        <label class="control-label">Server port:</label>
                        <div class="controls">
                            <input type="text"  name="port" placeholder="8089" ng-model="server.port" regex-validate="\b[0-9]{1,5}\b"
                                   regex-validated-flags="i" max-value="65535" required>
                            <span ng-show="connectForm.port.$error.required" class="help-inline">Required</span>
                            <span ng-show="connectForm.port.$error.regexValidate" class="help-inline">Value must be valid port</span>                
                            <span ng-show="connectForm.port.$error.maxValue" class="help-inline">Value must be in the range 0-65535</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: connectForm.apikey.$invalid}">
                        <label class="control-label">API key:</label>
                        <div class="controls">
                            <input type="text" name="apikey" placeholder="SCS" ng-model="server.apikey" required>
                            <span ng-show="connectForm.apikey.$error.required" class="help-inline">Required</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: connectForm.tout.$invalid}">
                        <label class="control-label">Timeout:</label>
                        <div class="controls">
                            <input type="text" name="tout" placeholder="10" ng-model="server.tout" required>
                            <span ng-show="connectForm.tout.$error.required" class="help-inline">Required</span>
                        </div>
                    </div>
                </fieldset>    
                <a href="#/" class="btn">Cancel</a>
                <button ng-click="resetConnection()" class="btn btn-info">Default</button>
                <button ng-click="tryConnect(server)" ng-disabled="isClean() || connectForm.$invalid" class="btn btn-primary">Connect</button>
            </form>
        </div>
    </div>
</div>